<template>
  <div class="todo-edit">
    <center>
      <button @click="backToPreviousPage" class="back-button">Back</button>
      <Header :title="headerTitle"/>
      <div class="form">
         <div class="name-input">
           Name: <input v-model="todo.name" placeholder="todo name" /> 
         </div>
         <div class="description-input">
           Description: <input v-model="todo.description" placeholder="todo description" /> 
         </div>
         <button @click="save">Save</button>
      </div>
    </center>  
  </div>
</template>

<script>
import Header from '@/components/Header.vue'

export default {
  components: {
    Header
  },

  data () {
    return {
      todo: {
        name: '',
        description: ''
      }
    }
  },

  computed: {
    headerTitle () {
      return `Add Todo`
    }
  },

  methods: {
    backToPreviousPage() {
      this.$router.go(-1)
    },

    save() {
      this.$store.dispatch('addTodo', this.todo)
      this.$router.push({name: 'Todos'})
    }
  }
}
</script>

<style>
.back-button {
  width: 80px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  background-color: #f1f6f9;
}
</style>