<template>
  <div class="todo-edit">
    <center>
      <button @click="backToPreviousPage" class="back-button">Back</button>
      <Header :title="headerTitle"/>
      <div class="form" v-if="todo">
         <div class="name-input">
           Name: <input v-model="todo.name" placeholder="todo name" /> 
         </div>
         <div class="description-input">
           Description: <input v-model="todo.description" placeholder="todo description" /> 
         </div>
         <button @click="update">Update</button>
      </div>
      <div v-else>Loading...</div>
    </center>  
  </div>
</template>

<script>
import Header from '@/components/Header.vue'

export default {
  components: {
    Header
  },

  data () {
    return {
      todo: null
    }
  },

  computed: {
    headerTitle () {
      return `Edit Todo: ${this.$route.params.id }`
    }
  },

  methods: {
    backToPreviousPage() {
      this.$router.go(-1)
    },

    update() {
      this.$store.dispatch('updateTodo', this.todo)
      this.$router.push({name: 'Todos'})
    }
  },

  mounted () {
    this.todo = this.$route.params.todo
  }
}
</script>

<style>
.back-button {
  width: 80px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  background-color: #f1f6f9;
}
</style>