<template>
  <div class="RandomNumberTrivia">
    <center>
      <div class="data">
        Data from api: {{ randomNumberTrivia }}
      </div>
    </center>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      randomNumberTrivia: ''
    }
  },

  created() {
    let _this = this

    axios.get('http://numbersapi.com/random')
      .then(function (response) {
      // handle success

      _this.randomNumberTrivia = response.data

      console.log(response);
    })
    .catch(function (error) {
      // handle error

      console.log(error);
    })
  },

  name: 'RandomNumberTrivia'
}
</script>
