<template>
  <div class="todo-detail">
    <center>
      <button @click="backToPreviousPage" class="back-button">Back</button>
      <Header :title="headerTitle"/>
      <div class="detail" v-if="todo">
        {{ todo.name }}
        <br/>
        {{ todo.description }}
      </div>
      <div v-else>Loading...</div>
    </center>  
  </div>
</template>

<script>
import Header from '@/components/Header.vue'

export default {
  components: {
    Header
  },

  data () {
    return {
      todo: null
    }
  },

  computed: {
    headerTitle () {
      return `Todo: ${this.$route.params.id }`
    }
  },

  methods: {
    backToPreviousPage() {
      this.$router.go(-1)
    }
  },

  mounted () {
    this.todo = this.$route.params.todo
  }
}
</script>

<style>
.back-button {
  width: 80px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  background-color: #f1f6f9;
}
</style>