<template>
  <div class="Todos">
    <center>
      <button @click="navigateToAdd" class="add-todo-button">Add</button>
      <Header title="Todo List"/>
      <div class="list" v-if="todos.length > 0">
        <div class="item" v-for="todo in todos" :key="todo.id">
          <h3>{{ todo.name }}</h3>
          <div class="actions">
            <button @click="navigateToDetail(todo)" class="action">Detail</button>
            <button @click="navigateToEdit(todo)" class="action">Edit</button>
            <button @click="deleteTodo(todo)" class="action">Delete</button>
          </div>
        </div>
      </div>
      <div class="loading" v-else>
        No Todos
      </div>
    </center>
  </div>
</template>

<script>
import Header from '@/components/Header.vue'

export default {
  components: {
    Header
  },

  data () {
    return {
      todos: []
    }
  },

  methods: {
    deleteTodo(todo) {
      this.$store.dispatch('deleteTodo', todo)
    },
    navigateToDetail(todo) {
      this.$router.push({name: 'Todo', params: {id: todo.id, todo: todo}})
    },

    navigateToAdd() {
      this.$router.push({name: 'Add'})
    },

    navigateToEdit(todo) {
      this.$router.push({name: 'Edit', params: {id: todo.id, todo: todo}})
    }
  },

  mounted() {
    this.todos = this.$store.getters.getTodos
  },

  name: 'Todos'
}
</script>

<style>
.item {
  width: 60%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  background-color: #9ba4b4;
  align-items: center;
  font-size: 24px;
  margin: 10px;
}

.action {
  width: 80px;
  height: 30px;
  border: 0;
  margin: 5px;
  border-radius: 5px;
  background-color: #f1f6f9;
}
.add-todo-button {
  width: 80px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  background-color: #f1f6f9;
}
</style>
