<template>
  <div class="weather">
    <center>
      <div class="form">
        City: <input type="text" v-model="city" />
        <button @click="getWeatherData" >Get current weather </button>
      </div>
      <div v-if="loading">
        Loading...
      </div>  
      <div class="data" v-else>
        {{ weatherData.weather[0].description }}
      </div>
    </center>
  </div>
</template>

<script>
import axios from 'axios'

const API_KEY = '28caf086883b1766ffdc93dc8335f074'

export default {
  data () {
    return {
      weatherData: null,
      city: '',
      loading: false
    }
  },

  created() {
    
  },

  methods: {
    getWeatherData() {
      let _this = this
      let url = `https://api.openweathermap.org/data/2.5/weather?q=${this.city}&appid=${API_KEY}`

      _this.loading = true

      axios.get(url)
        .then(function (response) {
        // handle success

        _this.weatherData = response.data

        console.log(response);

        _this.loading = false
      })
      .catch(function (error) {
        // handle error

        console.log(error);

        _this.loading = false
      })
    }
  },

  name: 'Weather'
}
</script>
