<template>
  <div class="header">{{ title }}</div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    }
  }
}
</script>

<style>
.header {
  width: 60%;
  height: 100px;
  display: flex;
  justify-content: center;
  background-color: #394867;
  align-items: center;
  font-size: 32px;
  color: #f1f6f9;
}
</style>